.contact-us-container,
.contact-container {
  width: 50%;
  /* background-color: rgb(181, 240, 240); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  padding-left: min(160px, 10%);
}

.contact-us-container {
  padding-right: min(160px, 10%);
}

.main-container {
  min-height: 100vh;
  display: flex;
}

h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0;
}

form {
  /* background-color: rgb(107, 212, 212); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 170px;
}

label {
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin-top: 8px;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
}

textarea {
  margin-top: 8px;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
}

span {
  font-size: 18px;
  width: 90%;
  text-align: center;
  /* background-color: antiquewhite; */
}

.contact-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.contact-line-item {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  margin: 24px;
}

iframe {
  width: 90%;
  max-width: 450px;
  aspect-ratio: 1/1;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.adresse-information {
  display: flex;
  justify-content: center;
}

span {
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
}

/*bis 320px beachten*/
@media screen and (max-width: 480px) {
  .main-container {
    flex-direction: column-reverse;
  }

  .contact-us-container,
  .contact-container {
    width: 100%;

    padding-left: min(32px, 10%);

    padding-right: min(32px, 10%);
  }

  h2 {
    margin-top: 32px;
  }
  span {
    margin-bottom: 16px;
  }
}
