<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../style.css" />
    <link rel="stylesheet" href="./contact.css" />
    <script src="./contact.js"></script>
  </head>
  <body>
    <a href="../../../index.html">Home</a>
    <section class="contact-us-container">
      <div class="contact-line-item">
        <div class="contact-line"></div>
        <h1>KONTAKTIEREN SIE UNS!</h1>
        <div class="contact-line"></div>
      </div>

      <span>
        Sie möchten mehr über uns erfahren, haben einen Jobangebot, haben Fragen
        zu unseren Rezepten oder zu unseren Projekt? Dann kontaktieren Sie uns,
        wir freuen uns auf Ihre Nachricht.
      </span>
    </section>

    <section class="adresse-container">
      <div class="contact-line-item">
        <div class="contact-line"></div>
        <h1>Adresse</h1>
        <div class="contact-line"></div>
      </div>
      <span class="adresse-information">
        Alexianerstraße 4230 <br />
        520623232 Aachen <br />
      </span>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5046.334915587378!2d6.079217075792974!3d50.772469264126656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0997d0f92e72f%3A0x5ffcf846bf59d1ca!2sAlexianergraben%2040%2C%2052062%20Aachen!5e0!3m2!1sen!2sde!4v1711005988706!5m2!1sen!2sde"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>

    <section class="contact-container">
      <div class="contact-line-item">
        <div class="contact-line"></div>
        <h1>KONTAKT FORMULA</h1>
        <div class="contact-line"></div>
      </div>

      <form method="POST" onsubmit="sendMail(event)">
        <label for="fname">
          Vorname
          <input id="fname" name="firstName" type="text" />
        </label>
        <label for="lname">
          Nachname
          <input id="lname" name="lastName" type="text" />
        </label>

        <label for="email">
          Dein Email
          <input id="email" type="email" name="email" />
        </label>
        <label>
          Deine Nachricht
          <textarea name="message" id="" cols="30" rows="10"></textarea>
        </label>

        <button type="submit">Nachricht Absenden</button>
      </form>
    </section>
  </body>
</html>
