<div class="footer">
  <a class="footer-logo" href="/frontend/src/index.html"
    ><img src="/frontend/assets/img/logo.png" alt="" />© 2024</a
  >

  <div class="social-links">
    <a href="https://de.linkedin.com/">
      <img src="/frontend/assets/img/icons/social_linkedin_icon.svg" alt="" />
    </a>
    <a href="https://www.facebook.com/">
      <img src="/frontend/assets/img/icons/social-fb.svg" alt="" />
    </a>
    <a href="https://www.instagram.com/">
      <img src="/frontend/assets/img/icons/social-insta.svg" alt="" />
    </a>
    <a href="https://discord.com/">
      <img src="/frontend/assets/img/icons/social-discord.svg" alt="" />
    </a>
  </div>

  <div class="footer-links">
    <a
      class="contact"
      href="/frontend/src/components/pages/contact/contact.html"
      >Kontakt <img src="/frontend/assets/img/icons/contact.svg" alt="" />
    </a>
    <a href="/frontend/src/components/pages/impressum/impressum.html"
      >Impressum</a
    >
    <a href="/frontend/src/components/pages/impressum/impressum.html"
      >Datenschutz</a
    >
  </div>
</div>
