<section class="main-1">
  <div class="content-1">
    <img src="/frontend/assets/img/croissant.jpg" alt="" />

    <div class="text-1">
      <h2>Französische Croissants</h2>
      <p>
        Schmackhafte Croissants können auch zu Hause sehr einfach gebacken werden.
        Mit ca. 30 Minuten Autwand kannst du ein wundervolles Frühstück zaubern.
      </p>
      <a href="#">Rezept öffnen</a>
    </div>
  </div>
</section>

<section class="main-2">
  <div class="content-2">
    <h2>Lust auf was Neues?</h2>
    <div class="link-container">
      <a href="#" class="quick-link">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        title left
      </a>
      <a href="#" class="quick-link">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        title center
      </a>
      <a href="#" class="quick-link">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        title right
      </a>
    </div>
  </div>
</section>
<section class="main-3">
  <div class="content-3">
    <h2>Pfanne vs. Wok - Was ist besser?</h2>

    <div class="topic-container">

      <p>
        Zwischen einem Wok und einer herkömmlichen Pfanne gibt es einige Unterschiede, die sich auf die Zubereitung und den Geschmack von Gerichten auswirken. <br>
        Mit ca. 30 Minuten Autwand kannst du ein wundervolles Frühstück zaubern.
        Der offensichtlichste und wichtigste Unterschied ist die Form.
        Ein Wok ist typischerweise kugelig. Der Boden einer Pfanne hingegen ist flach.
      </p>


      <img src="/frontend/assets/img/wok.jpg" alt="">
    </div>
  </div>

</section>