<section class="main-1">
  <div class="content-1">
    <img src="/frontend/assets/img/croissant.jpg" alt="" />

    <div class="text-1">
      <h2>Französische Croissants</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima sint
        voluptate nobis, reprehenderit natus?
      </p>
      <a href="#">Rezept öffnen</a>
    </div>
  </div>
</section>
<section class="main-2">
  <div class="content-2">
    <h2>Lust auf was Neues?</h2>
    <div class="link-container">
      <div class="link-left">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        <p>title left</p>
      </div>
      <div class="link-center">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        <p>title center</p>
      </div>
      <div class="link-right">
        <img src="/frontend/assets/img/croissant.jpg" alt="" />
        <p>title right</p>
      </div>
    </div>
  </div>
</section>
<section class="main-3">
  <div class="content-3">
    <h2>Panne vs Wok - was ist besser?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam
      culpa dicta ipsum ex rem? Deleniti consequuntur ipsam, illo ullam ad nisi
      reprehenderit expedita iusto neque reiciendis laudantium ex nesciunt!
    </p>
    <img src="../img/wok.jpg" alt="" />
  </div>
</section>
