<!-- Test Buttons zum laden der Rezepte  -->
<div>
  <button onclick="load_dish('/frontend/assets/data/dany_rezept.json')">
    Dany
  </button>
  <button onclick="load_dish('/frontend/assets/data/hanbit_rezept.json')">
    Hanbit
  </button>
  <button onclick="load_dish('/frontend/assets/data/Jerwand_rezept.json')">
    Jerwand
  </button>
</div>

<!-- Name des Gerichts, Bild und Trivial -->
<div>
  <div id="main">
    <h1 id="dish_name">dish_name_text</h1>
    <div id="pic_dish"></div>
    <div class="trivial_dish">
      <div id="cooking_time1">cooking_time</div>
      <div id="cooking_difficulty">cooking_difficulty</div>
      <div id="rezept_date">rezept_date</div>
    </div>
  </div>
</div>

<!-- Tabelle mit den Zutaten und mengen -->
<table>
  <tbody id="table">
    <tr>
      <td>
        <!-- Input für Portionen und zum berechnen  -->
        <div>
          <span>Zutaten für </span><input  type="number" min="1" max="8" value="1" id="portionen" oninput="validity.valid||(value='');" required/>
          <button id="portion" onclick="load_element_table(creators)">
            Portionen
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody id="table2">
    <tr>
      <td>2 Eier</td>
    </tr>
  </tbody>
</table>

<!-- Anleitung für die Zubereitung -->
<div>
  <h2>Zubereitung</h2>
  <div class="trivial_dish">
    <div id="cooking_time2">cooking_time</div>
    <div id="total_cooking_time">total_cooking_time</div>
  </div>
  <span id="preparation_instructions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus
    excepturi dicta molestias qui modi, tenetur, laudantium repellat quidem
    voluptate, ad porro recusandae deserunt esse quibusdam illo. Quisquam,
    exercitationem veritatis.</span>
</div>

<!-- Angaben und Bildem vom Crator -->
<div>
  <h3>Rezept erstellt von</h3>
  <div class="creator">
    <div id="creator_pic"></div>
    <div id="creator_name">Name</div>
  </div>
</div>