<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kochwelt</title>
    <script src="/frontend/src/script.js"></script>
    <script src="/frontend/src/components/pages/recipe/recipe.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/img/logo_small.png" />
    <link rel="stylesheet" href="/frontend/src/style.css" />
    <link rel="stylesheet" href="./recipe.css" />
  </head>

  <style>
    section {
      padding-left: min(160px, 10%);
      padding-right: min(160px, 10%);
      min-height: 100vh;
    }
  </style>

  <body>
    <header w3-include-html="/frontend/src/components/templates/header.html"></header>
    <section w3-include-html="/frontend/src/components/templates/recipe_hanbit.html"></section>
    <footer w3-include-html="/frontend/src/components/templates/footer.html"></footer>
  </body>

  <script>
    includeHTML();
  </script>
</html>
